.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  };
  .font-weight-light{
    size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #db4344;
  
  }
  
  .btn {
    background-color: #db4344 ;
    color: white;
  }
  $pink: #fe3a7d;
$orange: #ff7b0a;